[mysqld]

user				= mysql
bind_address			= 0.0.0.0
datadir				= /var/lib/mysql
pid_file			= /var/lib/mysql/mysql.pid

# Modified by DragOnMe for Korean charset & lowercase table name
collation-server		= utf8_general_ci
init-connect			= 'SET NAMES utf8'
character-set-server		= utf8
lower_case_table_names		= 1

default_storage_engine		= InnoDB
binlog_format			= ROW
query_cache_size 		= 0
query_cache_type 		= 0

innodb_flush_log_at_trx_commit  = 0
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_autoinc_lock_mode	= 2

wsrep_on			= ON
wsrep_provider			= /usr/lib64/galera/libgalera_smm.so
wsrep_node_address		= WSREP_NODE_ADDRESS
wsrep_sst_method		= xtrabackup-v2
wsrep_sst_auth			= "root:"

!includedir /etc/my.cnf.d
